<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>

        <!-- skeleton framework -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

    </head>
    <body>
        <h1>Edit Page</h1>

        <form class="container">
            <div class="row">
                <div class="six columns">
                    <label for="name">Name</label>
                    <input type="text" name="name" placeholder="<%=band.name%>"
                </div>
            </div>

            <div class="row">
                <div class="six columns">
                    <label for="image">New Image</label>
                    <input type="text" name="image" placeholder="<%=band.image%>"
                </div>
            </div>

             <div class="row">
                <div class="six columns">
                    <label for="origin">Origin</label>
                    <input type="text" name="origin" placeholder="<%=band.origin%>"
                </div>
            </div>

            <div class="row">
                <div class="six columns">
                    <label for="single">Single</label>
                    <input type="text" name="single" placeholder="<%=band.single%>"
                </div>
            </div>

            <div class="row">
                <div class="six columns">
                    <label for="genre">Genre</label>
                    <input type="text" name="genre" placeholder="<%=band.genre%>"
                </div>
            </div>

            <div class="row">
                <div class="six columns">
                    <label for="themes">Notable Themes</label>
                    <input type="text" name="themes" placeholder="<%=band.themes%>"
                </div>
            </div>

            <div class="row">
                <div class="six columns">
                    <label for="video">New Video</label>
                    <input type="text" name="video" placeholder="<%=band.video%>"
                </div>
            </div>
        </form>

        <form>
            <input class="button-primary" type="submit" value="Update Band">
            <a style="background-color:red;color:white;" class="button" href="/index/:id">Cancel</a>
        </form>

        <nav>
            <a style="background-color:#7B8F6B;color:white;" class="button" href="/index/">Home</a>
        </nav>

    </body>
</html>
