<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Show Page</h1>

        Name: <%=band.name%><br>
        Origin: <%=band.origin%><br>
        Single: <%=band.single%><br>
        Genre: <%=band.genre%><br>
        Notable Themes: <%=band.themes%><br>
        <video width="320" height="240" controls>
            <source src="<%=band.video%>" type="video/mp4">
        </video>
        <!-- Video: <%=band.video%><br> -->

    </body>
</html>
