<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>

        <!-- skeleton framework -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

    </head>
    <body>
        <div>

            <h3><%=band.name%></h3>

            <img src="<%=band.image%>">
            <br>

            <div class="row">
                <div class="six columns">
                    <h5>Origin:</h5>
                    <h6><%=band.origin%></h6>
                <div class="six columns">
                    <h5>Single:</h5>
                    <h6><%=band.single%></h6>
                </div>
            </div>

            <div class="row">
                <div class="six columns">
                    <h5>Genre:</h5>
                    <h6><%=band.genre%></h6>
                </div>
                <div class="six columns">
                    <h5>Notable Themes:</h5>
                    <h6><%=band.themes%></h6>
                </div>
            </div>

            <div>
                <h5>Video:</h5>
                <a href="<%=band.video%>">
                    <h6><%=band.video%></h6>
                </a>
            </div>

        </div>





    </body>
</html>
